<% layout('layouts/boilerplate') %>

<h1>All camp grounds</h1>
<div>
  <a href="/campgrounds/new">Add campgrouunds</a>
</div>

<% for (let campground of campgrounds) {%>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="text-muted"><%= campground.description %></p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >View <%= campground.title %></a
        >
      </div>
      <% if(campground.images.length){ %>
      <img class="img-fluid" alt="" src="<%=campground.images[0].url%>" />
      <% } else{%>
      <img
        class="img-fluid"
        alt=""
        src="https://res.cloudinary.com/deepak878/image/upload/v1652167275/YelpCamp/qoejvkl4kpnysidgspdx.png"
      />
      <% }%>
    </div>
  </div>
</div>
<a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>

<% } %>
